.NavBar {
    width: 100vw;
    height: 100px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: absolute;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 25%);
    background: none;
    border: none;
    cursor: pointer;
}