.contactPage {
    width: 100vw;
    height: 100vh;
    padding: 17vh 13.44vw 0 13.44vw;
}

.contactPage h1, .contactPage h2, .contactPage p {
    text-align: center;
}

.contactPage h1 {
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
}

.contactPage h2 {
    font-size: 2.25rem;
    font-weight: normal;
    margin: 12vh 0;
}

.contactPage p:nth-child(3) {
    margin-bottom: 3.7vh;
}

.contactPage p {
    margin-bottom: 2.3vh;
}