.projects {
    width: 100vw;
    height: 100vh;
    padding: 17vh 6.25vw 0 6.25vw;
}

.projectsHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12vh;
}

.projectsHead h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--cor-fonte-claro);
    text-align: center;
}

.projectsHead .filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 18.75vw;
    height: 11.5vh;
}

.projectsHead .filtro select {
    width: 100%;
    border-radius: 15px;
    border: 5px solid var(--cor-azul-detalhes);
    color: var(--cor-fonte-claro);
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    height: 5.25vh;
    background-color: transparent;
}

.projectsCarousel {
    height: 53vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
}

.projectsCarousel:active {
    cursor: grab;
}