:root {
    --cor-fonte-claro: #D2D2D2;
    --cor-azul-detalhes: #36B7FF;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    color: #D2D2D2;
}

body {
    background: linear-gradient(180deg, #323232 0%, #141414 100%);
    overflow-x: hidden
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #C2C2C2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B1B2B5;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}

h1, h2, h3 {
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 1);
}